.comment__pageForm {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comment__editForm__header {
  display: flex;
  flex-direction: row;
}

.photoForm__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.commentEdit__form__form {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.comment__editHeader {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  font-weight: bolder;
  flex-direction: column;
  font-size: larger;
}

.edit__form {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  /* height: 100%; */
  justify-content: center;
  align-items: center;
}

.edit__form input,
select {
  width: 250px;
  height: 2em;
}

.edit__buttons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  column-gap: 0.25em;
  margin: auto;
  position: absolute;
  bottom: 15px;
  align-items: flex-end;
}

.edit__buttonEdit,
.edit__buttonDelete {
  background-color: transparent;
  border: none;
  display: flex;
}

.edit__buttonEdit:hover,
.edit__buttonDelete:hover {
  cursor: pointer;
}

.photo__errorsUpdate {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1em;
  justify-content: center;
  text-align: center;
  color: red;
  position: relative;
}

.edit__form {
  margin-bottom: 5em;
}
.edit__form > label > input {
  color: lightslategrey;
}

.edit__form > label > input:focus {
  border: none;
  cursor: text;
  border-left: solid blue;
  color: black;
}

.edit__buttonEdit,
.edit__buttonDelete {
  width: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
}

.edit__buttonEdit {
  background-color: rgb(25, 143, 220);
  color: white;
}

.edit__buttonDelete {
  color: white;
  background-color: rgb(171, 84, 102);
}

.album__title,
.album__enterComment {
  text-align: left;
  text-indent: 1em;
}
