.photo__pageForm {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photo__pageForm__header {
  display: flex;
  flex-direction: row;
}

.photoForm__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.photoPage__form__form {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.photo__createHeader {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  font-weight: bolder;
  flex-direction: column;
  font-size: larger;
}

.photo__form {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  /* height: 100%; */
  justify-content: center;
  align-items: center;
}

.photo__form input,
select {
  width: 250px;
  height: 2em;
}

.photo__buttons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  column-gap: 0.25em;
  margin: auto;
  position: absolute;
  bottom: 15px;
  align-items: flex-end;
}

.photo__buttonphoto,
.photo__buttonDelete {
  background-color: transparent;
  border: none;
  display: flex;
}

.photo__buttonphoto:hover,
.photo__buttonDelete:hover {
  cursor: pointer;
}

.fa-pen-to-square:hover {
  color: white;
}

.fa-trash:hover {
  color: white;
}

.photo__errorsUpdate {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1em;
  justify-content: center;
  text-align: center;
  color: red;
  position: relative;
}

.photo__form {
  margin-bottom: 5em;
}
.photo__form > label > input {
  color: lightslategrey;
}

.photo__form > label > input:focus {
  border: none;
  cursor: text;
  border-left: solid blue;
  color: black;
}

.photo__buttonphoto,
.photo__buttonDelete {
  width: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
}

.photo__buttonphoto {
  background-color: rgb(25, 143, 220);
  color: white;
}

.photo__buttonDelete {
  color: white;
  background-color: rgb(171, 84, 102);
}
