.album__createHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-weight: bolder;
  flex-direction: column;
  font-size: larger;
  /* top: -5em; */
}

.album__postForm {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  align-items: center;
}

.album__form {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.album__postForm input {
  width: 250px;
  height: 2em;
}

.edit__errorsPost {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1em;
  justify-content: center;
  text-align: center;
  color: red;
  position: relative;
  right: 1em;
}

.album__form > label > input {
  color: lightslategrey;
}

.album__form > label > input:focus {
  border: none;
  cursor: text;
  border-left: solid blue;
}

.album__createButton {
  background-color: rgb(25, 143, 220);
  width: 6em;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  cursor: pointer;
}
