.modal__signup:hover {
  cursor: pointer;
}

.modal__signup {
  background-color: white;
  color: black;;
  font-weight: bold;
  border-radius: 5px;
  height: 50%;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 35%;
}

.signinTitle {
  /* display: flex; */
  /* position: absolute; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-weight: bolder;
  flex-direction: column;
  font-size: larger;
}

.inputSignIn {
  margin-top: 30%;
  display: flex;
  /* position: absolute; */
  justify-content: center;
  flex-direction: column;
  /* bottom: 25vh; */
  /* width: 100%; */
  /* text-align: center; */
  row-gap: 10px;
  align-items: center;

}

.submitSignup {
  display: flex;
  justify-content: center;
}

.submitSignup:hover {
  cursor: pointer;
}

.signin__errors {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1em;
  justify-content: center;
  text-align: center;
  color: red;
  position: relative;
}
