.comment {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* height: 5em; */
  overflow-y: scroll;
}

.comment__textarea {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.create__fornComment {
  width: 100%;
}
.create__fornComment > form {
  display: flex;
  flex-direction: column;
}

.create__commentSubmit {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: -0.5em;
}

.create__submitComment {
  background-color: #128fdc;
  color: #fff;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 7em;
  height: 2em;
  border: none;
  cursor: pointer;
}

.comment::placeholder,
.comment__title::placeholder {
  text-align: left;
  text-indent: 1em;
}

/* .comment__inputFields {
  display: flex;
  flex-direction: row;
} */
