/* TODO Add site wide styles */
html {
  overflow-y: scroll;
  overflow-x: hidden;
  background: #f3f5f6;
      /* display: flex;
    justify-content: center;;
    background-color: rgb(238, 234, 234);
    height: 25em; */
}
/* body { position: absolute; } */
* {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
}

*::-webkit-scrollbar {
  display: none;

}
