.album__page {
  display: flex;
  flex-direction: column;
}

.album__upload {
  background-color: #128fdc;
  color: #fff;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 15em;
  height: 2em;
  border: none;
}

.album__upload:hover {
  cursor: pointer;
  background-color: #2c80b5;
  color: rgb(255, 255, 255);
}

.album__title {
  display: flex;
  text-align: center;
  position: relative;
  flex-direction: column;
  max-width: 700px;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  row-gap: 1em;
  align-items: center;
}

.album__info {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(4, 250px);
  grid-row: 250px;
  margin-top: 10px;
  grid-gap: 1em;
  padding-bottom: 100px;
  justify-content: center;
}

.album__body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.album__desc {
  display: flex;
  align-self: center;
  text-align: center;
  display: flex;
  height: 15rem;
  object-fit: cover;
  justify-content: center;
  width: 16em;
  height: 14em;
  position: relative;
  z-index: 2;
  border: solid black;
}

.album__edits {
  margin-right: 10px;
}

.album__edit:hover {
  background-color: transparent;
  transform: scale(1.015);
  transition-duration: 300ms;
}

.edit__page {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}
.fa-magnifying-glass:hover {
  cursor: pointer;
  color: white;
  transform: scale(1.015);
  transition-duration: 300ms;
}

.album__image {
  display: flex;
  align-self: center;
  cursor: pointer;
  display: flex;
  height: 250px;
  object-fit: cover;
  width: 250px;
}

.album__cardContainer {
  display: flex;
  flex-direction: column;
}

.edit__buttonLink {
  text-decoration: none;
}

.image__cardRedirect {
  display: flex;
  position: relative;
  flex-direction: column;
}

.album__infos {
  display: flex;
  justify-content: flex-start;
  position: relative;
  bottom: 7.2em;
  left: 1em;
  color: white;
  z-index: 3;
  font-size: small;
  overflow: hidden;
}

.album__titles {
  display: flex;
  text-align: center;
  position: relative;
  flex-direction: column;
  max-width: 700px;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  row-gap: 1em;
  align-items: center;
}

.album__titleContain {
  color: black;
}

.album__post__top {
  display: flex;
  height: 2em;
  justify-content: space-between;
  position: absolute;
  align-items: center;
  width: 100%;
  font-weight: bolder;
  font-size: 15px;
  color: black;
  z-index: 3;
}

.album__user__title {
  display: flex;
  color: white;
  align-items: center;
  margin-left: 10px;
}

.edit__button__options {
  display: flex;
  color: white;
  font-weight: bolder;
}

.edit__button__options:hover {
  cursor: pointer;
  color: rgb(25, 142, 220);
  transform: scale(1.015);
  transition-duration: 300ms;
}
