.albumDetail__page {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.714);
  height: 25em;
  width: 35em;
  align-items: center;
  position: relative;
}

.albumDetail__page__top {
  display: flex;
  position: absolute;
  margin-bottom: 4em;
  width: 100%;

  justify-content: center;
  align-items: center;
}

.albumDetail__image__preview {
    display: flex;
    justify-content: center;
    width: 30em;
    height: 15em;
    align-items: center ;
    ;
}

.albumDetail__image__preview > img {
    width: 100%;
}

.albumDetail__image {
    height: 100%;
}
.albumDetail__page__bottom {
  display: flex;
  width: 100%;
  /* height: 5em; */
  position: absolute;
  bottom: 0;
}

.albumDetail__image__scrollwheel {
  display: flex;
  background-color: rgba(0, 0, 0, 0.372);
  justify-content: center;
  width: 100%;
  column-gap: 0.5em;
  overflow-x: scroll;
  height: 5em;
}

.albumDetail__scrollwheel__image {
  display: flex;
  justify-content: center;
  width: 8em;
  cursor: pointer;
  align-items: center;
}
