.home__navBar {
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(35, 35, 38);
  z-index: 3;
  height: 3em;
  width: 100%;
}

.home__home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.home__goHome {
  display: flex;
  justify-content: center;
  height: 100%;
  text-align: center;
  width: fit-content;
  align-items: center;
}

.home__exploreAll {
}

.home__logo {
  display: flex;
  /* position: relative; */
  height: 80px;
  justify-content: center;
  /* margin-left: 20px; */
  align-items: center;
}

.home__buttons {
  display: flex;
  align-items: center;
  position: relative;
  left: 25px;
  justify-content: space-evenly;
  width: 15vw;
}

.home__searchbar {
  display: flex;
  position: relative;
  /* left: 5%; */
  /* top: 5px; */
  padding: 5px;
  height: 50px;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.home__searchbar > input {
  display: flex;
  background-color: lightgray;
  flex: 0.8;
  height: 50%;
}

input:focus {
  outline: none;
  cursor: text;
  transform: scale(1.015);
  transition-duration: 250ms;
  background-color: white;
}

.home__dashboard,
.home__explore {
  color: white;
  background-color: transparent;
  border-width: 0;
  font-weight: 500;
  font-size: medium;
}

.home__dashboard:hover,
.home__explore:hover {
  cursor: pointer;
}

.home__searchbar > p {
  text-decoration: none;
  border-radius: 25px;
  padding: 10px 20px;
  border: none;
  color: #128fdc;
  background-color: #fff;
  transition: 0.4s;
  background-color: none;
}

.home__searchbar > p:hover {
  background-color: #128fdc;
  color: #fff;
}
