.home__options {
  display: flex;
  flex-direction: row;
  color: white;
}
.home__navBar {
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(21,21,23,.95);
  z-index: 3;
  width: 100%;;
  /* top: 0;
  right: 0;
  */
  top: 0;
  left: 0;
  padding: 0 10px;
  /* border-bottom: solid grey; */
}


.home__logo {
  display: flex;
  position: relative;
  bottom: -5px;
  object-fit: contain;
  height: 100px;
  margin-left: 20px;
  align-items: center;
}

.home__buttons {
  display: flex;
  align-items: center;
  position: relative;
  left: 25px;
  justify-content: space-evenly;
  width: 15vw;
  margin-right: 20px;
}

.home__searchbar {
  display: flex;
  position: relative;
  /* left: 5%; */
  /* top: 5px; */
  padding: 5px;
  height: 50px;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.home__searchbar > input {
  display: flex;
  background-color: lightgray;
  flex: 0.8;
  height: 50%;
}

input:focus {
  outline: none;
  cursor: text;
  transform: scale(1.015);
  transition-duration: 250ms;
  background-color: white;
}

.home__rightButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.home__dashboard, .home__explore {
  color: white;
  background-color: transparent;
  border-width: 0;
  font-weight:500;
  font-size: medium;
}

.home__dashboard:hover, .home__explore:hover {
  cursor: pointer;
}
