.modal__login:hover {
  cursor: pointer;
}

.modal__login {
  position: relative;
  left: 10%;
  top: 2%;
  background-color: transparent;
  color: white;
  border-width: 0;
  font-weight: bold;
  border-radius: 5px;
  height: 50%;
  width: 35%;
}
