.login__loginForm {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  align-items: center;
}

.login__loginTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-weight: bolder;
  flex-direction: column;
  font-size: larger;
}

.login__loginInputs {
  /* margin-top: 30%; */
  display: flex;
  /* position: absolute; */
  flex-direction: column;
  bottom: 25vh;
  text-align: center;
  row-gap: 10px;
  align-items: center;
}

.login__loginUser {
  display: flex;
  margin-bottom: 15;
  outline: none;
  border: 1px solid lightgray;
}

.login__loginPassword {
  display: flex;
  margin-bottom: 15;
  outline: none;
  border: 1px solid lightgray;
}

.login__loginSubmit {
  cursor: pointer;
  display: flex;
  outline: none;
  border: 1px solid lightgray;
  align-items: center;
}

.login__demo {
  cursor: pointer;
  display: flex;
  outline: none;
  border: 1px solid lightgray;
  align-items: center;
}

.login__buttons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-end;
  column-gap: 0.25em;
  margin-top: 2em;
}

::placeholder {
  text-align: center;
}

.login__errors {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1em;
  justify-content: center;
  text-align: center;
  color: red;
  position: relative;
}
